<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.ornitech.pomodorni</string>
    <key>CFBundleExecutable</key>
    <string>Pomodorni</string>
    <key>CFBundleName</key>
    <string>Pomodorni</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2026 Ornitech</string>
    <key>SUFeedURL</key>
    <string>https://ornitech.github.io/pomodorni/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>PLACEHOLDER_PUBLIC_KEY</string>
</dict>
</plist>
